/* =============================================================================
   Images
   ========================================================================== */
$curledShadowColor: rgba(0, 0, 0, .7);
@mixin curledShadow {
  background-color: $curledShadowColor;
  bottom: .65em;
  content: '';
  @include box-shadow(0 .4em .3em .05em $curledShadowColor);
  width: 80%; height: 20%;
  position: absolute;
  z-index: -1;
}

.postCopy img { max-width: 100%; }

figure,
.postImage {
  float: left;
  margin: 0 1em .5em 0;
  max-width: 60%;
  position: relative;
  z-index: 5;

  &.right { margin: 0 0 .5em 1em; }

	a, img, .img { max-width: 100%; }
  img, .img {
    border-radius: .25em;
    @include box-shadow(0 0 .15em rgba(0,0,0,.8));
    z-index: 1;
  }

  &.fullWidth {
    float: none;
    margin: 0 0 .7em;
    max-width: 100%;
    text-align: center;
  }

  > .curledShadow { max-width: 100%; }
}

.boxshadow .postImage {
  padding: {
    left: .5em;
    right: .5em;
  }
}

.curledShadow {
  display: inline-block;

  &:before {
    @include curledShadow;
    @include rotate(-2deg);
    left: .6em;
  }

  &:after {
    @include curledShadow;
    @include rotate(2deg);
    right: .6em;
  }
}

figcaption {
  @extend small;
  display: block;
  margin: .5em .5em 0;
  position: absolute;
  z-index: 1;

  figure > & { position: relative; }
}
