/* =============================================================================
   Links
   ========================================================================== */

@mixin centeredLinkFont {
  font: {
    family: serif;
    size: 1.2em;
    weight: bold;
    vertical-align: .1em;
  }
}

a {
  text-decoration: none;
  @include transition(all .2s);

  &, &:visited { color: $copyColor; }
  &:hover { color: $redColor; }
  &:active { color: $greenColor; }
}

.pagination a,
.postCopy a,
small a {
  @extend .blockCutType;
}

.centeredLink {
  @extend .sansSerif;
  font-size: 1.2em;
  margin-bottom: 1em;
  text: {
    align: center;
    transform: lowercase;
  }

  a {
    &::before {
      content: '\00AB';
      @include centeredLinkFont;
    }
    &::after {
      content: '\00BB';
      @include centeredLinkFont;
    }
  }
}
