/* =============================================================================
   Colors
   ========================================================================== */

$copyColor: #9bd;
$lightCopyColor: #ace;
$darkCopyColor: #152949;
$hoverColor: #0c5;
$darkBlueColor: #123;

.pullQuoteBG { background: $darkBlueColor; }
