/* =============================================================================
   Colors
   ========================================================================== */

$copyColor: #ace;
$lightCopyColor: #bdf;
$darkCopyColor: #152949;
$greenColor: #0c5;
$darkBlueColor: #123;
$redColor: #f64;

.pullQuoteBG { background: $darkBlueColor; }
