/* =============================================================================
   Colors
   ========================================================================== */

$copyColor: #444;
$lightCopyColor: #666;
$darkCopyColor: #222;
$greenColor: #0c5;
$darkBlueColor: #123;
$redColor: #f86;

.pullQuoteBG { background: $darkBlueColor; }
