/* =============================================================================
   Effects
   ========================================================================== */
@mixin blockCutType($forecolor: #eee, $shadow1: #666, $shadow2: #999) {
  &, &:visited {
    color: $forecolor;
    @include text-shadow(0 .01em .05em $shadow1, 0 .06em 0em $shadow2, 0 .15em .2em rgba(0, 0, 0, 0.75));
  }
}

.blockCutType {
  @include blockCutType;
  &:hover,
  &.red { @include blockCutType(#f64, #700, #d00); }
}

.deeplyEngravedType {
  color: $darkCopyColor;
  @include text-shadow(
    -1px -1px 1px rgba(0, 0, 0, 0.85),
    1px 1px 1px rgba(255, 255, 255, 0.4)
  );
}

.embossedType {
  @include text-shadow(-1px -1px 2px rgba(255, 255, 255, .5), 1px 1px 2px rgba(0, 0, 0, .5));

  a:hover {
    @include text-shadow(-2px -2px 2px rgba(0, 0, 0, .5));
  }
}
