/* =============================================================================
   Font Icons
   ========================================================================== */

@font-face {
  font-family: 'IcoMoon';
  src: url('fonts/IcoMoon.eot');
  src: url('fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/IcoMoon.svg#IcoMoon') format('svg'),
    url('fonts/IcoMoon.woff') format('woff'),
    url('fonts/IcoMoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Add the following classes to your stylesheet if you want to use data attributes for inserting your icons */
.iconb:before, .icona:after {
  font-family: 'IcoMoon';
  content: attr(data-icon);
}

/* Add the following CSS properties to your stylesheet if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'IcoMoon';
  font-style: normal;
}
.icon-feed:before {
  content: "\0061";
}
.icon-twitter:before {
  content: "\0062";
}
.icon-github:before {
  content: "\0067";
}
.icon-picassa:before {
  content: "\0021";
}
.icon-heart:before {
  content: "\0023";
}
.icon-star:before {
  content: "\0022";
}

.replaceTextWithIcon {
  @extend .hideText;
  display: inline-block;

  &::before {
    display: inline-block;
    left: 0; right: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    vertical-align: top;
  }
}

.previous,
.next {
  @extend .replaceTextWithIcon;
  height: 1.2em;
  vertical-align: middle;
  width: 1em;

  &::before {
    font-size: 1.3em;
    line-height: .8em;
  }
}

.previous {
  &::before { content: '\00AB'; }
}

.next {
  &::before { content: '\00BB'; }
}

.otherLinks {
  margin-bottom: 1em;
  > .iconb {
    vertical-align: middle;
    width: 1.2em;

    &.icon-feed {
      @include blockCutType(#f60, #f60 - 150, #f60 - 80);
      font-size: 1.7em;

      &:hover { color: #f60 + 100; }
    }

    &.icon-twitter {
      @include blockCutType(#0af, #0af - 150, #0af - 80);
      font-size: 2.3em;

      &:hover { color: #0af + 100; }
    }

    &.icon-github {
      @include blockCutType(#67f, #67f - 150, #67f - 80);
      font-size: 2em;

      &:hover { color: #67f + 100; }
    }
  }
}
