/* =============================================================================
   Footer
   ========================================================================== */

body > footer {
  background: #353535;
  @include box-shadow(inset 0 1em 1em -1em black);
  color: #aaa;
  padding: 1em 2em 2em;
  right: 0; left: 0; bottom: 0;
  text-align: center;
  @include text-shadow(1px 1px 0 rgba(black, .8));

  p {
    line-height: normal;
    margin: 1em auto;
    max-width: 28em;
  }

  a {
    @extend .blockCutType;
    &, &:visited, &:active, &:hover { @include translate(0,0,0); }
  }

  big {
    font: {
      size: 160%;
      weight: bold;
    }
    text-transform: lowercase;
  }

  small { margin-bottom: 1em; }
}
