/* =============================================================================
   Global Mixins
   ========================================================================== */
@mixin blockCutType($forecolor: #fff, $shadow1: #666, $shadow2: #999, $activecolor: $greenColor) {
  &, &:visited {
    color: $forecolor;
    display: inline-block;
    @include text-shadow(0 .01em .05em $shadow1, .01em .06em 0em $shadow2, .01em .1em .1em rgba(0, 0, 0, 0.85));
    @include translate(0, -.07em);
  }

  &:active {
    color: $activecolor;
    @include translate(0, 0);
  }
}
