/* =============================================================================
   Images
   ========================================================================== */
$curledShadowColor: rgba(0, 0, 0, .7);
@mixin curledShadow {
  background-color: $curledShadowColor;
  bottom: 9px;
  content: '';
  @include box-shadow(0 6px 10px $curledShadowColor);
  width: 80%; height: 20%;
  position: absolute;
}

figure,
.postImage {
  float: left;
  margin: 0 1em .5em 0;
  max-width: 60%;

  &.right { margin: 0 0 .5em 1em; }

  img {
    border-radius: .25em;
    @include box-shadow(0 0 8px rgba(0,0,0,.7));
    max-width: 100%;
    z-index: 1;
  }

  &.fullWidth {
    float: none;
    margin: 0 0 .5em;
    max-width: 100%;
    text-align: center;
  }

  > .curledShadow { max-width: 100%; }
}

.boxshadow .postImage {
  padding: {
    left: 8px;
    right: 8px;
  }
}

.curledShadow {
  display: inline-block;

  &:before {
    @include curledShadow;
    @include rotate(-2deg);
    left: 10px;
  }

  &:after {
    @include curledShadow;
    @include rotate(2deg);
    right: 10px;
  }
}

figcaption {
  @extend small;
  display: block;
  margin: .5em .5em 0;
  position: absolute;
  z-index: 1;

  figure > & { position: relative; }
}
