/* =============================================================================
   Links
   ========================================================================== */

a {
  text-decoration: none;

  color: #eee;

  &:visited { color: #ddd; }
  &:hover {
    color: white;
  }
}
