/* =============================================================================
   Main
   ========================================================================== */

* {
  @include box-sizing(border-box);
  background-repeat: no-repeat;
  /*-webkit-font-smoothing: antialiased;*/
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  position: relative;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

html, body {
  min-height: 100%;
}

body {
  background-color: #057;
  @include background-image(radial-gradient(14em 7em, ellipse farthest-corner, #006585 0%, #046 100%));
  color: $copyColor;
  padding: 1em 1em 17em;
  @include text-shadow(1px 1px 0 rgba(0, 0, 0, .8));
}

p {
  line-height: 1.8em;
  margin: 0 0 1em;
}

code {
  color: $lightCopyColor + 25;
  font-weight: bold;
}

small {
  font: {
    family: audimat;
    size: .85em;
  }

  a { font-weight: normal; }
}

.pullQuote {
  @extend .pullQuoteBG;
  @include border-radius(.5em);
  @include box-shadow(inset 0 0 10px black);
  padding: 1em;
}

pre {
  @extend .pullQuote;
  color: goldenrod;
  padding-top: 1em;
  text-shadow: none;

  &.limitHeight {
    height: 15em;
    overflow: scroll;
  }

  u, b, em, i {
    color: #daa520 + 50;
  }
}

.pagination {
  margin: 1em 0;
}

.page_number {
  vertical-align: middle;
}
