/* =============================================================================
   Masthead
   ========================================================================== */

$logotypeSize: 500%;

body > header {
  padding-bottom:1em;

  > h1, > h2 {
    display: inline-block;
    margin: 0;
    padding-right: 20px;
    vertical-align: baseline;
  }

  > h1 {
    font-size: $logotypeSize;
    letter-spacing: -.04em;
    text-transform: lowercase;

    a {
      color: #eee;

      &:visited { color: #ddd; }
      &:hover {
        color: white;
      }
    }
  }
  > h2 {
    font: {
      size: 175%;
      style: oblique;
    }
  }
}
