/* =============================================================================
   Posts
   ========================================================================== */

.postPreview {
  > h1 {
    font-size: 175%;
    line-height: 1em;
    margin-top: 0;

    a:before {
      content: '☙';
      display: inline;
      font: sans-serif;
    }
  }
}

.post {
  width: 80%;

  a { font-weight: bold; }
  h1, h2 { @extend .deeplyEngravedType; }
}

.tags {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline;
    padding: 0;
    &:after { content: ','; }

    &:last-child {
      &:before { content: ' and '; }
      &:after { content: '.'; }
    }
  }
}

.comments {
  border-top: 1px solid rgba(255,255,255,.25);
  @include box-shadow(0 -1px 0 rgba(0,0,0,.5));
  margin-top: 1em;
}
