/* =============================================================================
   Posts
   ========================================================================== */

.postPreview {
  @extend .bottomSeparator;

  &:nth-child(3),
  &:last-child {
    border: none;
    @include box-shadow(none);
  }

  > h1 {
    line-height: 1.2em;
    margin-top: 0;

    a:before {
      content: '☙';
      display: none;
      font-family: sans-serif;
    }
  }
}

.post {
  max-width: 43em;

  a { font-weight: bold; }
  h1 {
    @extend .deeplyEngravedType;
    font-size: 250%;
  }
  h2 { color: $lightCopyColor + 15; }
}

.tags {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline;
    padding: 0;
    &:after { content: ','; }

    &:last-child {
      &:before { content: ' and '; }
      &:after { content: '.'; }
    }
  }
}

.comments {
  @extend .topSeparator;
  padding-top: 1em;

  a { @extend .blockCutType; }
}

aside {
  @extend .pullQuote;
  float: right;
  margin: 0 -1em 0 .5em;
  width: 10em;
}
