---
layout: post
title: ""
description:
  DESCRIPTION
tags: [TAGS]
date: YYYY-MM-DD HH:MM:SS -04/500
image: URL TO JPG
image-url: URL TO ZOOMED JPG
image-alt:
  ALT TEXT
image-classes: "CLASSES"
image-alt-as-caption: true/false
---
<p>
  PARAGRAPH TEXT
</p>

<figure class="right">
  <div class="curledShadow">
    <a href="">
      <img src=""
        alt="" />
    </a>
  </div>
</figure>

<figure>
  <div class="curledShadow">
    <a href="">
      <img src=""
        alt="" />
    </a>
  </div>
  <figcaption>
  </figcaption>
</figure>

<figure class="fullWidth">
  <div class="curledShadow">
    <a href="">
      <img src=""
        alt="" />
    </a>
  </div>
  <figcaption>
  </figcaption>
</figure>
