extends default

block prepend title
  | #{ page.title + " | "}

block content
  include _image
  include _post_meta

  - pmeta = page.metadata

  article.post
    .postContent
      h1= page.title
      .postCopy
        mixin description
          if pmeta.description
            p!= pmeta.description
          else if pmeta.description_paragraphless
            != pmeta.description_paragraphless

        if pmeta.imageClasses == "fullWidth"
          +description

        if pmeta.image
          +image(pmeta)

        if pmeta.imageClasses !== "fullWidth"
          +description

        != typogr(page.html).typogrify()

      +postMeta(page.date, env.helpers.getTagsFromArticle(page))

    #recentTweets.hidden
      h3 Tweeted recently by:

    .comments
      #disqus_thread
      script.
        var disqus_developer = 1,
            disqus_shortname = 'marcocarag';

        // DON'T EDIT BELOW THIS LINE
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      noscript
        | Please enable JavaScript to view the
        a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
      a.dsq-brlink(href="http://disqus.com")
        | blog comments powered by
        span.logo-disqus Disqus
