<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% include themes/marcocarag/determineTitle %}</title>
  <meta name="description" content="{% include themes/marcocarag/determineDescription %}">

  <meta property="fb:app_id"      content="127177063996357">
  <meta property="og:type"        content="article">
  <meta property="og:url"         content="http://marcocarag.com{{ page.url }}/">
  <meta property="og:site_name"   content="MarcoCarag.com">
  {% if page.image %}
  <meta property="og:image"       content="{{ page.image }}">
  {% endif %}
  <meta property="og:title"       content="{% include themes/marcocarag/determineTitle %}">
  <meta property="og:description" content="{% include themes/marcocarag/determineDescription %}">

  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="{{ASSET_PATH}}/css/style.css">

  <script src="/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <h1 class="logoType"><a href="/" class="blockCutType">Marco Carag</a></h1>
    <h2 class="">Expert <span class="sansSerif heart">&hearts;</span>er of things.</h2>
  </header>
  <div role="main" class="clearfix">
    {{ content }}
  </div>
  <footer class="audimat">

    <div class="otherLinks">
      <a class="iconb replaceTextWithIcon icon-feed" href="http://feeds.feedburner.com/marcocarag/iSwv">
        Subscribe to RSS
      </a>
      <a class="iconb replaceTextWithIcon icon-twitter" href="http://twitter.com/marcocarag">
        @marcocarag on Twitter
      </a>
      <a class="iconb replaceTextWithIcon icon-github" href="https://github.com/jazzcrazed/jazzcrazed.github.com">
        This blog&rsquo;s Github repo
      </a>
      <a id="minefold-logo" href="https://minefold.com/marcocarag/jazzcrazedom">
        <svg
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:cc="http://creativecommons.org/ns#"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           xmlns:svg="http://www.w3.org/2000/svg"
           xmlns="http://www.w3.org/2000/svg"
           version="1.1" width="71.25" height="60.375" id="svg3087">
          <title id="title4830">Minefold Logo</title>
          <metadata id="metadata3093">
            <rdf:RDF>
              <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title>Minefold Logo</dc:title>
                <dc:date>2012-05-31</dc:date>
                <dc:creator>
                  <cc:Agent>
                    <dc:title>Marco Carag</dc:title>
                  </cc:Agent>
                </dc:creator>
                <dc:description>Original logo design by Chris Lloyd. Traced and manipulated in Inkscape.</dc:description>
              </cc:Work>
            </rdf:RDF>
          </metadata>
          <defs id="defs3091">
            <filter x="-0.25" y="-0.25" width="1.5" height="1.5"
               color-interpolation-filters="sRGB" id="filter4802">
              <feGaussianBlur result="blur" stdDeviation="2.5" in="SourceAlpha"
                 id="feGaussianBlur4804" />
              <feColorMatrix
                 values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 "
                 type="matrix" result="bluralpha" id="feColorMatrix4806" />
              <feOffset result="offsetBlur" dy="3" dx="0" in="bluralpha"
                 id="feOffset4808" />
              <feMerge id="feMerge4810">
                <feMergeNode in="offsetBlur" id="feMergeNode4812" />
                <feMergeNode in="SourceGraphic" id="feMergeNode4814" />
              </feMerge>
            </filter>
          </defs>
          <path
             d="m 22.5,10.0625 -10.625,6.046875 0,34.203125 10.625,0 0,-21.609375 7.515625,8.890625 0.09375,0 11.03125,0 0.09375,0 7.53125,-8.9375 0,21.65625 10.609375,0 0,-34.203125 L 48.765625,10.0625 35.625,29.453125 22.5,10.0625 z"
             id="path3969" class="logo-face-shadow"
             style="fill:#074676;fill-opacity:1;stroke:none;filter:url(#filter4802)" />
          <path
             d="m 48.758258,47.406249 10.617442,0 0,-34.198033 -10.617442,-6.049471 z"
             id="path3867" class="logo-face-dark"
             style="fill-opacity:1;stroke:none" />
          <path
             d="m 22.501432,7.158745 18.642249,27.531268 -11.111274,0 L 11.91486,13.208216 z"
             id="path4881" class="logo-face-dark"
             style="fill-opacity:1;stroke:none" />
          <path
             d="m 48.758258,7.158745 -18.642249,27.531268 11.111274,0 18.117547,-21.481797 z"
             id="path3921" class="logo-face-light"
             style="fill-opacity:1;stroke:none" />
          <path
             d="m 22.492439,47.406249 -10.617439,0 0,-34.198033 10.617439,-6.049471 z"
             id="path3915" class="logo-face-light"
             style="fill-opacity:1;stroke:none" />
        </svg>
        <span class="svgAlt">My Minecraft world on Minefold</a>
      </a>
    </div>

    <small>
      <p>
          This site is generated using <a href="http://jekyllbootstrap.com/">Jekyll
          Bootstrap</a>, uses the incomparable <a href="http://html5boilerplate.com">
          HTML5 Boilerplate</a>, and is hosted on
          <a href="https://github.com/jazzcrazed/jazzcrazed.github.com">GitHub</a>.
      </p>
      <p>
          I&rsquo;m also using the fonts
          <a href="http://www.smeltery.net/fonts/audimat">
          AUdimat by SMeltery</a> and <a href="http://ebensorkin.wordpress.com/"
          class="blockCutType">Merriweather by Eben Sorkin</a>, kitted up using
          <a href="http://fontsquirrel.com">Font Squirrel&rsquo;s @font-face
            Generator</a>, and icons by <a href="http://keyamoon.com/icomoon">
            IcoMoon</a> fonted up using their
          <a href="http://keyamoon.com/icomoon/app/">excellent app</a>.
      </p>
    </small>

    &copy; {{ site.time | date: "%Y" }} by
    <big><a class="blockCutType" href="/about.html">Marco Carag</a></big>.
  </footer>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.8.3.min.js"><\/script>')</script>

  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>

  {% include JB/analytics %}
</body>
</html>
