<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %} {{ page.title }} | {% endif %}MarcoCarag.com</title>
  <meta name="description" content="Marco Carag's blog about stuff he's into.">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="{{ASSET_PATH}}/css/style.css">

  <script src="/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <h1 class="logoType"><a href="/" class="blockCutType">Marco Carag</a></h1>
    <h2 class="">Expert <span class="sansSerif">&hearts;</span>er of things.</h2>
  </header>
  <div role="main" class="clearfix">
    {{ content }}
  </div>
  <footer class="audimat">
    <small class="block">
      This site uses the incomparable <a href="http://html5boilerplate.com"
      class="blockCutType">HTML5 Boilerplate</a>,<br />and the fonts
      <a href="http://www.smeltery.net/fonts/audimat" class="blockCutType">
      AUdimat by SMeltery</a> and <a href="http://ebensorkin.wordpress.com/"
      class="blockCutType">Merriweather by Eben Sorkin</a>.
    </small>

    &copy; {{ site.time | date: "%Y" }} by
    <a class="blockCutType" href="/about.html">Marco Carag</a>.
  </footer>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>

  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>

  {% include JB/analytics %}
</body>
</html>
