<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="postCopy">
    <div class="clearfix">
      {% if page.image-classes == "fullWidth" %}
        {% if page.description %}
          <p>{{ page.description }}</p>
        {% elsif page.description_paragraphless %}
          {{ page.description_paragraphless }}
        {% endif %}
      {% endif %}

      {% if page.image %}
      <figure class="postImage {% if page.image-classes %}{{ page.image-classes }}{% endif %}">
        <div class="curledShadow">
          <a href="
            {% if page.image-url %}
            {{ page.image-url }}
            {% else %}
            {{ page.image }}
            {% endif %}
            ">
            <img src="{{ page.image }}"
              alt="{% if page.image-alt %}{{ page.image-alt }}{% endif %}" />
          </a>
        </div>
        {% if page.image-caption || (page.image-alt-as-caption == true) %}
        <figcaption>
          {{ page.image-caption || page.image-alt }}
        </figcaption>
        {% endif %}
      </figure>
      {% endif %}

      {% unless page.image-classes == "fullWidth" %}
        {% if page.description %}
          <p>{{ page.description }}</p>
        {% elsif page.description_paragraphless %}
          {{ page.description_paragraphless }}
        {% endif %}
      {% endunless %}
    </div>

    {{ page.content }}
  </div>

  <small>
    On
    <time datetime="{{ page.date | date_to_xmlschema }}">
      <b><i>{{ page.date | date_to_long_string }}</b></i> at <i>{{ page.time }}</i>
    </time>
    {% if page.tags %}
    {% assign tags_list = post.tags %}
    in
    <ul class="tags">
      {% for tag in page.tags %}
      <li><a href="{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </small>

  <div id="recentTweets" class="hidden">
    <h3>Tweeted recently by:</h3>
  </div>

  <div class="comments">
    {% include JB/comments %}
  </div>
</article>
