<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="clearfix">
    {% if page.image %}
    <div class="postImage">
      <div class="curledShadow">
        <img src="{{ page.image }}"
          alt="{% if page.image-alt %}{{ page.image-alt }}{% endif %}" />
      </div>
    </div>
    {% endif %}
  </div>

  <div class="postCopy">
    <p>{{ page.description }}</p>
    {{ page.content }}
  </div>

  <small>
    On
    <time datetime="{{ page.date | date_to_xmlschema }}">
      <b><i>{{ page.date | date_to_long_string }}</b></i> at <i>{{ page.time }}</i>
    </time>
    {% if page.tags %}
    {% assign tags_list = post.tags %}
    in
    <ul class="tags">
      {% for tag in page.tags %}
      <li><a href="{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </small>

  <div class="comments">
    {% include JB/comments %}
  </div>
</article>
